<footer class="footer">
  <small>DMC consol by Takeshi.Hotta</small>
  <nav>
    <ul class="nav nav-pills pull-right">
      <li><%= link_to "Application",   '#' %></li>
      <li><%= link_to "Log off", '#' %></li>
    </ul>
  </nav>
</footer>